* {
    box-sizing: border-box;
  }

body {
  margin: 0;
  font-family: Arial;
  padding: 25px;
  background-color: rgb(156, 156, 156);
  color: rgb(36, 35, 35);
  font-size: 25px;
}

.dark-mode {
  background-color: rgb(24, 24, 24);
  color: rgb(138, 137, 137);
}
.btn-primary {
  background-color: #292727;
  border-color: #777777;
}
.btn-primary:hover {
  background-color: #000;
  border-color: #fff;
}
.btn-primary:focus {
  background-color: #000;
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
}
.btn-primary:active {
  background-color: #000;
  border-color: #fff;
}
.card {
  min-height: 437px;
}
.card img {
  border-radius: 0.25rem;
}
.card-text {
  font-size: 1rem;
}
.card-body {
  display: flex;
  align-items: flex-end;
}

.title {
  text-align: center;
  padding: 2px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.menu {
  font-size: 30px;
  cursor: pointer;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* part with ↓ image text
.container {
  position: relative;
  font-family: Arial;
  width: 100%;
  height: 300px;
}*/

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.315);
  color: rgb(228, 231, 16);
  padding: 0px 20px 0px;
  font-size: 12px;
}
/* part with ↑ image text */

/* part with ↓ sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
/* part with ↑ sidebar */

/* part with ↓ collapsable */
#myDIV {
  /*width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(41, 39, 39);
  margin-top: 20px;*/
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
/* part with ↑ collapsable */

/* брекпоинты 1400 1200 992 800 575  */
@media screen and (max-width: 1400px) {
  .card {
    min-height: 393px;
  }
}
@media screen and (max-width: 1200px) {
  .card {
    min-height: 350px;
  }
}
@media screen and (max-width: 992px) {
  .card {
    min-height: 288px;
  }
}
@media screen and (max-width: 800px) {
  .card {
    min-height: 308px;
  }
}
@media screen and (max-width: 575px) {

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  
  .sidenav {
    padding-top: 15px;
  }
  
  .sidenav a {
    font-size: 18px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}