<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Rover here</title>

    <!-- styles -->
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- /styles -->

    <!-- js -->
    <script type="text/javascript" src="/static/assets/js/jQuery.js"></script>
    <script type="text/javascript" src="/static/assets/js/script.js"></script>
    <!-- /js -->

    <!-- favicons -->
    <link rel="apple-touch-icon" href="/static/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/static/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/static/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/static/assets/img/favicons/favicon.ico">
    <!-- /favicons -->

  </head>

  </style>
  <body>
    <!-- darkMode -->
    <button class="btn btn-primary my-2" onclick="darkMode()">Dark mode</button>
    <!-- Sidebar -->
    <p></p>
    <span class="menu" onclick="openNav()">&#9776; menu</span>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/">About</a>
      <a href="/perseverance">Perseverance</a>
      <a href="/curiosity">Curiosity</a>
      <a href="/opportunity">Opportunity</a>
      <a href="/spirit">Spirit</a>
    </div>
    <div id="main">
        <!-- Header -->
        {% block content %} {% endblock %}
    </div>
  </body>
</html>
