{% extends 'base.html' %}

{% block content %}
<div class="header">
  <h2>Создано с ознакомительной целью</h2>
  <p>Я отдаю себе отчёт в том, что данная страничка использует, возможно, худшие из практик.</p>
  <p>Особую благодарность хочу выразить своему другу <a href="https://github.com/ADedus">@ADedus</a>, который помог с реализацией данной странички.</p>
</div>
{% endblock %}
