{% extends 'base.html' %}

{% block content %}
      <section class="text-center container">
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ rover }}</h1>
          </div>
        </div>
      </section>
    {% for camera,content  in cameras.items() %}
    <button class="collapsible btn btn-primary my-2" onclick="diplay_hide('#{{ camera }}');return false;">{{ camera }}</button>
    <div id="{{ camera }}" class="album">
        <!-- Photo Grid -->
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-3">
            {% for lst in content %}
                {% for el in lst %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ url_for('static', filename=el[8]) }}">
                        <div class="card-body">
                            <p class="card-text">
                                sol:     {{ el[3] }}<br/>
                                date:    {{ el[4] }}<br/>
                                camera:  {{ el[5] }}<br/>
                                rover:   {{ rover }}<br/>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}